pygame>=2.6.1
Pillow>=11.0.0
customtkinter>=5.2.2
pyobjc-framework-Cocoa>=11.0; sys_platform == "darwin"
pyobjc-framework-UserNotifications>=11.0; sys_platform == "darwin"
pystray==0.19.5; sys_platform == "win32"
pywin32==306; sys_platform == "win32"
winotify==1.1.0; sys_platform == "win32"
